@model List<TbOs>

@* Plugin Css For This Page*@
@section PluginCssForThisPage
{
    <!-- Plugin css for this page -->
    <link rel="stylesheet preload" href="~/Admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
}


<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Operating System table </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Operating System</li>
                    </ol>
                </nav>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Operating System Data table</h4>
                    <a href="/Admin/Os/Edit" class="card-subtitle btn btn-primary">@ResGeneral.lblNew</a>
                    <div class="row">
                        <div class="col-12">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>Os Id</th>
                                        <th>Os Name</th>
                                        <th>Current State</th>
                                        <th>Created Date</th>
                                        <th>Actions</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var os in Model)
                                    {


                                        <tr>
                                            <td>@os.OsId</td>
                                            <td>@os.OsName</td>
                                            @if (os.CurrentState == 0)
                                            {
                                                <td class="text-danger">Removed</td>
                                            }
                                            else
                                            {
                                                <td class="text-success">Exists</td>
                                            }
                                            <td>@os.CreatedDate</td>

                                            <td>
                                                <a asp-area="Admin" asp-controller="Os" asp-action="Edit" asp-route-osId="@os.OsId"
                                                   class="btn btn-outline-info">Edit</a>
                                            </td>

                                            <td>
                                                <a asp-area="Admin" asp-controller="Os" asp-action="Delete" asp-route-osId="@os.OsId"
                                                   class="btn btn-outline-danger">Delete</a>
                                            </td>

                                        </tr>


                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        @*Plugins Js For This Page *@

        @section PluginJsForThisPage
        {
            <!-- Plugin js for this page -->
            <script async src="~/Admin/assets/vendors/datatables.net/jquery.dataTables.js"></script>
            <script async src="~/Admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
            <!-- End plugin js for this page -->
        }

        @*Custom Js For This Page *@

        @section CustomJsForThisPage
        {
            <!-- Custom js for this page -->
            <script async src="~/Admin/assets/js/data-table.js"></script>
            <!-- End custom js for this page -->
        }
