@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>@ResWebsite.TitYou_Are_Not_Authorize</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">@ResWebsite.lblHome</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ResWebsite.TitYou_Are_Not_Authorize</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h2>@ResWebsite.TitYou_Are_Not_Authorize</h2>
                    <a  asp-controller="Home" asp-action="Index"
                        class="btn btn-solid">@ResWebsite.lblback_to_home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->